Dataset/traffic012019.csv
Dataset/traffic022019.csv
Dataset/traffic032019.csv
Dataset/traffic042019.csv
Dataset/traffic052019.csv
Dataset/traffic062019.csv
Dataset/traffic082019.csv
Dataset/traffic092019.csv
Dataset/traffic102019.csv
Dataset/traffic112019.csv
Dataset/traffic122019.csv
.ipynb_checkpoints/
